<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="database.properties"/>

    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.user}"/>
                <property name="password" value="${db.pass}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappersxml/PartnerCompanyMapper.xml"/>
        <mapper resource="mappersxml/PersonMapper.xml"/>
        <mapper resource="mappersxml/CustomerMapper.xml"/>
        <mapper resource="mappersxml/EmployeeMapper.xml"/>
        <mapper resource="mappersxml/LuggageTrainMapper.xml"/>
        <mapper resource="mappersxml/CustomerTrainMapper.xml"/>
        <mapper resource="mappersxml/TransportationMapper.xml"/>
        <mapper resource="mappersxml/CustomerTransportationMapper.xml"/>
        <mapper resource="mappersxml/LuggageTransportationMapper.xml"/>
    </mappers>

</configuration>