<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ICustomerDAO">
    <resultMap id="customer" type="model.company.person.CustomerModel">
        <id property="id_customer" column="id_customer"/>
        <result property="id_person" column="id_person"/>
        <result property="haveAnimal" column="haveAnimal"/>
        <result property="documentCustomer" column="document"/>
        <result property="id_customerTr" column="id_customerTr"/>
    </resultMap>
    <select id="getCustomerById" parameterType="java.lang.Long" resultMap="customer">
        select * from customer where id_customer = #{id}
    </select>
    <select id="getCustomerList" resultMap="customer">
        select * from customer
    </select>
</mapper>