<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.CustomerTransportationMapper">
    <resultMap id="cusTran" type="model.company.transportation.CustomerTransportation">
        <id property="id_customerTr" column="id_customerTr"/>
        <result property="countSeat" column="countSeat"/>
        <association property="transportation" column="id_transportation"
                     javaType="model.company.transportation.Transportation"
                     select="dao.TransportationMapper.getTransportationByID" fetchType="eager"/>
        <collection
                property="customerModelList" column="id_customerTr"
                javaType="List"
                ofType="Customer"
                select="dao.ICustomerDAO.getCustomerByID"
                fetchType="eager" />
    </resultMap>
    <select id="getCustomerTransportationByIDCT" parameterType="java.lang.Integer" resultMap="cusTran">
        select * from customerTransportation where id_customerTrain = #{id}
    </select>
    <select id="getCustomerTransportationByID" parameterType="java.lang.Integer" resultMap="cusTran">
        select * from customerTransportation where id_customerTr = #{id}
    </select>
</mapper>