<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.PartnerCompanyMapper">
    <resultMap id="partnerCompany" type="company.partnercompany.PartnerCompany">
        <id property="id_partnerCompany" column="id_partnerCompany"/>
        <result property="nameCompany" column="nameCompany"/>
        <result property="city" column="city"/>
        <collection
                property="luggageTransportations" column="id_partnerCompany"
                javaType="List"
                ofType="LuggageTransportation"
                select="mappers.LuggageTransportationMapper.getLuggageTransportationByIDLT"
                fetchType="eager" />
    </resultMap>
    <select id="getPartnerCompanyByID" parameterType="java.lang.Integer" resultMap="partnerCompany">
        select * from partnerCompany where id_partnerCompany = #{id}
    </select>
    <select id="getPartnerCompany" resultMap="partnerCompany">
        select * from partnerCompany
    </select>
</mapper>