<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IPersonDAO">
    <resultMap id="personModel" type="model.company.person.PersonModel">
        <id property="id_person" column="id_person"/>
        <result property="name" column="name"/>
        <result property="surname" column="surname"/>
    </resultMap>
    <select id="getPersonById" parameterType="java.lang.Long" resultMap="personModel">
        select * from person where id_person = #{id}
    </select>
    <select id="getPersonList" resultMap="personModel">
        select * from person
    </select>
</mapper>